<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="title">Agency Registration</div>
        <form action="">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" name="txtname" id="" required="" autocomplete="off">
                </div>
                <div class="input-box">
                    <span class="details">Contact</span>
                    <input type="text" name="txtname" id="" required="" autocomplete="off">
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" name="txtname" id="" required="" autocomplete="off">
                </div>
                <div class="input-box">
                    <span class="details">Photo</span>
                    <input type="text" name="txtname" id="" required="" autocomplete="off">
                </div>
                <div class="input-box">
                    <span class="details">Proof</span>
                    <input type="text" name="txtname" id="" required="" autocomplete="off">
                </div>
                <div class="input-box">
                    <span class="details">Address</span>
                    <input type="text" name="txtname" id="" required="" autocomplete="off">
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </div>
        </form>
    </div>
</body>
</html>